extends layout

block content

    h1 #{title}: #{genre.name}

    if books.length

        p #[strong Before delete a genre, first you must delete all relative books.]

        each book in books
            ul
                li
                    a(href=book.url) #{book.title}
    else
        p #[strong Do really want to delete this genre]

        form(method='POST' action='')
            input#genreid.form-control(type='hidden' name='genreinput' required='true' value=genre.id)
            button.btn.btn-primary(type='submit') Delete